{% extends 'base.html' %}

{% block content %}

<div class="container mt-3">

    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">My expenses</li>
        </ol>
    </nav>


    <div class="row">

        <div class="col-md-9">
            <h1>My expenses</h1>
        </div>

        <div class="col-md-3">
            <div class="float-end">
                <a href="{% url 'add-expense' %}" class="btn btn-primary">Add expense</a>                
            </div>
        </div>
        
    </div>

    {% include 'partials/_messages.html' %}

</div>



{% endblock %}