{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-3">

    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">My expenses</li>
        </ol>
    </nav>


    <div class="row">

        <div class="col-md-9">
            <h1>My expenses</h1>
        </div>

        <div class="col-md-3">
            <div class="float-end">
                <a href="{% url 'expense-add' %}" class="btn btn-primary">Add expense</a>                
            </div>
        </div>
        
    </div>

    {% include 'partials/_messages.html' %}

</div>

<div class="container mt-3">

    <div class="row my-3">
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" id="searchField" placeholder="Search">
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-end">
            <span class="px-1"><a href="{% url 'export-csv' %}" class="btn btn-secondary">Export CSV</a></span>
            <span class="px-1"><a href="{% url 'export-excel' %}" class="btn btn-secondary">Export Excel</a></span>
            <span class="px-1"><a href="{% url 'export-pdf' %}" class="btn btn-secondary">Export PDF</a></span>
        </div>
    </div>

    {% if expenses.count %}

        <div class="app-table">

            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>Amount in {{currency_iso}}</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% for expense in page_obj %}
                    <tr class="align-middle">
                        <td>{{expense.amount}}</td>
                        <td>{{expense.category}}</td>
                        <td>{{expense.description}}</td>
                        <td>{{expense.date}}</td>
                        <td><a href="{% url 'expense-edit' expense.pk %}" class="btn btn-secondary float-end">Edit</a></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="table-output">
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>Amount in {{currency_iso}}</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-body">
    

    
                </tbody>
            </table>
            
        </div>

        <div class="row mt-4 pagination-container">

            <div class="col-md-6">
                Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </div>
    
            <div class="col-md-6">
                <ul class="pagination float-end">
                    {% if page_obj.has_previous %}
                        <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}>
                            <a href="?page=1" class="page-link">&laquo; 1</a>
                        </li>
                        <li class="page-item">
                            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
                        </li>
                    {% endif %}
        
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
                        </li>
                        <li class="page-item">
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">{{ page_obj.paginator.num_pages }} &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </div>
        

    {% endif %}

</div>

<script src="{% static 'js/searchExpenses.js' %}"></script>

{% endblock %}